body {
  background-color: #8896abff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  padding: 0 0 0 25px;
}

.leaflet-container {
  width: 60%;
  height: 80vh;
  display:inline-block;
}

header {
  width: 100%;
  background-color: #7e6551ff;
  border-bottom: #938581ff;
}

.sorting-header {
  height: 30px;
  width:40%;
}

.sorting-sort{
  display: inline;
  margin-left: 20px;
}

.sorting-sort:hover {
  font-weight: 700;
  cursor:pointer;
}

.sorting-header span {
  background-color: lightgray;
  padding: 1px 5px;
  border-radius: 1px;
  margin: 1px 3px 0 2px;
}

.sorting-header button {
  padding: 3px 5px;
}
.location-list {
  width: 35%;
  margin-top:14px;
  margin-right:20px;
  height: 80vh;
  overflow-y: scroll;
  display:inline-block;
}

.locations {
  padding: 5px;
  border-bottom:2px solid lightgray;
  background-color: #c5d5e4ff;

}

.locations:nth-child(odd) {
  background-color: darkgray;
}

.neighborhood {
  font-size: 12px;
}

.location-type {
  font-size: 12px;
  margin: 0 5px;
}
.location-directions a {
  text-decoration: none;
  margin-left: 5px;
}

.location-directions a:visited {
  color: blue;
}

.location-directions a:hover {
  text-decoration: underline;
}
.location-visited {
  font-weight: 800;
  padding: 0 3px;
  color: green;
}
