body {
  background-color: #91afcc;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  padding: 0 0 0 25px;
}

.leaflet-container {
  width: 65%;
  height: 80vh;
  display:inline-block;
}

header {
  width: 100%;
  background-color: #C5D5E4;
  border-bottom: #938581ff;
  padding: 3px 0;
  text-align: center;
}

.description {
  background-color: #436585;
  padding: 10px;
  color: #e9e2e2;
  width: 300px;
  position: fixed;
}

.about {
  padding: 10px;
}

.hide {
  display: none;
}

.hover-about:hover + .hide {
  display: block;
}


.coming-soon {
  font-style:italic;
  text-align: center;
}

.sorting-header {
  margin-top:8px;
  height: 68px;
  padding: 10px 0;
}

.sorting-button{
  display: inline;
  margin-right: 10px;
  font-weight: 600;
  border: none;
}

.sorting-button:hover {
  border: none;
  border-bottom: 5px solid #436585;
}

.sorting-header div {
  display: inline;
  border: 1px solid black;
  line-height: 10px;
}

.sorting-reset, .sorting-header .sorting-direction {
  display: inline;
  background-color: #f0f0f0;
  padding: 4px 8px 8px 8px;
  border-radius: 2px;
  border: 2px solid #436585;
  margin-left: 7px;
}

.sorting-header button {
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  cursor:pointer;
}



.location-list {
  width: 32%;
  margin-right:20px;
  height: 80vh;
  overflow-y: scroll;
  display:inline-block;
}

.locations {
  padding: 5px;
  border-bottom:2px solid lightgray;
  background-color: #ececec;

}
.locations:nth-child(odd) {
  background-color: #C5D5E4;
}

.location-name {
  width: fit-content;
  font-size: 18px;
}

.location-neighborhood {
  font-size: 12px;
}

.location-neighborhood:hover {
  cursor: default;
}

.location-type {
  font-size: 15px;
}

.location-directions, .location-type {
  margin-left: 4px;
}
.location-directions a {
  text-decoration: none;
  color: #01502e;
  font-weight: 600;
}

.location-directions a:visited {
  color: #01502e;
}

.location-directions a:hover {
  text-decoration: underline;
}

.location-directions i {
  font-size: 11px;
}
.location-visited {
  font-weight: 800;
  color: green;
  margin-right: 4px;
}

footer {
  text-align: center;
  padding: 10px 0;
}

 @media (max-width: 425px) {
  header {
    padding: 1px 0;
  }
  .description {
    padding: 10px;
  }

  .sorting-header button {
    padding: 5px;
    font-size: 14px;
    margin: 5px 8px;
  }

  .sorting-header div{
    display: none;
  }
  .sorting-header .sorting-reset {
    margin-left: 105px;
  }
  .sorting-header .sorting-direction {
    margin-left: 4px;
    padding: 3px 5px;
  }
  .location-list {
    width: 90%;
    margin: 40px 0 5px;
    height: 50vh;
  }
  .leaflet-container {
    width: 90%;
    height: 50vh;
  }

}
